.comment-container {
    margin-top: 20px;
}

.comment-box {
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.comment-author {
    font-weight: bold;
    /* margin-bottom: 5px; */
    color: #3498db;
}

.comment-content {
    color: #333;
}

.comment-createdat {
    color: gray;
    font-size: smaller;
}

.comment-like {
    background-color: #ededed;
    border-radius: 10px;
    height: 20px;
    display: inline-block;
    color: #f189a9;
}

#comment-submit-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#comment-submit-button:hover {
    background-color: #217dbb;
}

#comment-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}