/* style.css */
h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.aside {
    width: 300px;
    float: left;
    padding-bottom: 20px;
}

.select-group {
    width: auto;
    float: right;
    text-align: right;
}

.select-text {
    color: gray;
    font-size: 120%;
    font-weight: bolder;
    padding: 10px;
}

.select-dropbox {
    height: 25px;
    font-size: 16px;
}

.select-textbox {
    height: 20px;
}

table.board-table {
    width: 100%;
    border-spacing: 0;
}

.posts-list {
    width: 1200px;
    margin: 0 auto;
}

.board-table th {
    background: #eee;
    border-top: 2px solid gray;
    padding: 5px;
}

.board-table td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.board-table td:nth-child(2) {
    text-align: left;
}

.page {
    text-align: center;
    padding: 20px;
}

.button {
    float: right;
    text-align: center;
}

.button-gray {
    border: 0px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font: 12px 굴림;
    font-weight: bold;
    width: 60px;
    height: 30px;
}

.button-black {
    border: 0px;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    color: white;
    font: 12px 굴림;
    font-weight: bold;
    width: 70px;
    height: 30px;
}

.no-results {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #777; /* 원하는 색상으로 변경 가능 */
}
