/* style.css */
body {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    top: 0;
}

h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.aside {
    width: 300px;
    float: left;
    padding-bottom: 20px;
}

.select-group {
    width: auto;
    float: right;
    text-align: right;
    margin-top: 5px;
}

.select-text {
    color: gray;
    font-size: 120%;
    font-weight: bolder;
    padding: 10px;
}

.select-dropbox {
    height: 30px;
    font-size: 16px;
}

.select-textbox {
    height: 30px;
    border: 0px;
    border-radius: 5px;
}

table.board-table {
    width: 100%;
    border-spacing: 0;
}

.posts-list {
    width: 1200px;
    margin: 0 auto;
}

.board-table th {
    background: #eee;
    border-top: 2px solid gray;
    padding: 5px;
}

.board-table td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.board-table td:nth-child(2) {
    text-align: left;
}

.page {
    text-align: center;
    padding: 20px;
}

.button {
    float: right;
    text-align: center;
}

.button-gray {
    border: 0px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font: 12px 굴림;
    font-weight: bold;
    width: 60px;
    height: 30px;
}

.button-black {
    border: 0px;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    color: white;
    font: 12px 굴림;
    font-weight: bold;
    width: 70px;
    height: 30px;
}

.no-results {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #777; /* 원하는 색상으로 변경 가능 */
}

main {
    width: 100%;
    margin-top: 64px;
    margin-bottom: 96px;
}

.post-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.posts-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 20px;
    display: grid;
    width: 100%;
    gap: 20px;
}

.post-tile {
    transition: all 0.4s ease-out;
}

.post-tile:hover {
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.005);
}

.post-title {
    margin: 6px 0;
    margin-top: 10px;
    line-height: normal;
    font-size: large;
}

.post-thumbnail {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.post-thumbnail img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: white;
}

#deprecated {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #777;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
}

.button {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
