.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-container {
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s;
    margin: 300px 0px 0px 0px;
}

.question-container:hover {
    transform: scale(1.05);
}

.title {
    font-size: 24px;
    color: #3498db;
}

.keyword-conatiner {
    margin: 10px 0;
}

.keyword {
    background: #3498db;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    display: inline-block;
}

.content {
    font-size: 16px;
    margin-top: 20px;
    color: #333;
}

.subsidiary {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}

.card {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.action-buttons {
    margin-top: 20px;
}

.action-buttons a {
    text-decoration: none;
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.action-buttons a:hover {
    background: #555;
}

.button_list_edit {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.button-black {
    background-color: #333;
    color: #fff;
    border: none;
    margin-right: 5px;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-black:last-child {
    margin-right: 0;
}

.button-black:hover {
    background-color: #555;
}

.answer-container-wrapper {
    margin: 30px 0px 150px 0px;
}

.answer-container {
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s;
    margin: 30px 0px 0px 0px;
}

.answer-container:hover {
    transform: scale(1.05);
}