textarea{
  resize: none;
  height: 500px;
  width: 100%;
  border: none;
}

body{
  background-color: #f8f9fa;
}

.main {
  position: relative;
  top: 70px;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  margin-bottom: 400px;
}

.main > form {
  display: block;
  flex-direction: row; 
  gap: 20px;
}

.write-box input {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border: none;

  width: 740px;
  padding: 11px 16px;
  outline: none;
  margin-bottom: 18px;
}

.save-button-wrapper {
  display: flex;
  width: 100%;
  height: 25px;
  justify-content: right;
  margin-top: 5px;
}

.temp-save-button {
  appearance: none;
  display: flex;
  width: 100px;
  height: 25px;
  border: 1px solid #1e1e1e;
  border-radius: 3px;
  margin-right: 5px;
  background-color: #f8f9fa;
  justify-content: center;
  color: #1e1e1e;
  cursor: pointer;
}

.save-button {
  appearance: none;
  display: flex;
  width: 100px;
  height: 25px;
  border: 1px solid #1e1e1e;
  border-radius: 3px;
  background-color: #1e1e1e;
  justify-content: center;
  color: #f9f8f4;
  cursor: pointer;
}
