{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .main-container {
            position: absolute;
            top: 64px;
            width: 100%;
        }

        .login-container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }      
    </style>
</head>
<body>
    <div class="main-container">
        <div class="login-container">
            <form action="" method="post">
                {% csrf_token %}
                <p>아이디</p>
                <input type="text" name="username" id="">
                <p>비밀번호</p>
                <input type="password" name="password" id="">
                <input type="submit" value="로그인">
            </form>
        </div>
    </div>
</body>
</html>