{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <title>로그인</title>
</head>

<body>
    <div class="main-container">
        <div class="login-container">
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="로그인">
                <input type="button" value="회원가입" onclick='window.location.href="{% url 'hanwooplz_app:register' %}"'>
            </form>
            <a href="{% url 'hanwooplz_app:find_id' %}">아이디</a>/<a href="{% url 'hanwooplz_app:find_pw' %}">비밀번호 찾기</a>
        </div>
    </div>
</body>

</html>