{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
    <title>Register</title>
</head>

<body>
    <div class="main-container">
        <div class="login-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="가입하기">
            </form>
        </div>
    </div>

</body>

</html>