{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}" />
  <title>채팅하기</title>
</head>

<body>
  
  {% include 'nav.html' %}

    <section class="container column">
      <div class="post-box flex-box">


        <div class="chat-select-container">
          <div class="chat-list-box flex-box column">
            <p class="chat-list-title">채팅방 리스트</p>

            {% for msg in latest_messages %}
            <div class="flex-box chat-box between" onclick="redirectToChat({{ msg.chat_room_id }}, {{ msg.sender_id }})" 
            data-chat-room-id="{{ msg.chat_room_id }}">
                <div class="flex-box">
                  <span class="bold">{{ msg.sender }}</span>
                  <span class="s-text">{{ msg.created_at }}</span>
                </div>
                <div class="message-content">
                  <p class="chat-thumb-text">{{ msg.message }}</p>
                  {% if msg.unread_message_count > 0 %}
                  <p class="unread_message_count">{{ msg.unread_message_count }}</p>
                  {% endif %}
                </div>
            </div>
            {% endfor %}

          </div>
        </div>
        <!-- 채팅창-->
        <div class="chat-main-container">
          {% if room_number > 0 or room_number == -1 %}
          <div style="height:500px">
            <div class="contact-info flex-box">
              {% if username %}
              대화상대: {{username}}
              {% endif %}
            </div>
            <!--채팅창 메인-->
            <div class="chat-container" id="chat-log">
              {% if room_number == -1 %}
              <div class="message-box from-you">
                <p class="s-text">방금 전</p>
              </div>
              {% endif %}
              {% for chat in chat_msgs %}
              {% if request.user.username != chat.username %}
              <div class="message-box from-you">
                {% if chat.id > first_unread_index %}
                <div class="message-text unread">{{ chat.message }}</div>
                {% else %}
                <div class="message-text">{{ chat.message }}</div>
                {% endif %}
                <p class="s-text">{{ chat.created_at }}</p>
                {% if chat.is_read == False %}
                <p class="s-text unread">읽지 않음</p>
                {% endif %}
              </div>
              {% else %}
              <div class="message-text">{{ chat.message }}</div>
              {% endif %}
              <p class="s-text">{{ chat.created_at }}</p>
              {% if chat.is_read == False %}
              <p class="s-text unread">읽지 않음</p>
              {% endif %}
              {% endfor %}
            </div>
          </div>

          {% comment %} <div class='toast'>
            <div id="toast-popup" class="toast-popup">
              <div class="toast-content">
                <p class="toast-message">새 메시지가 도착했습니다!</p>
              </div>
            </div>
          </div> {% endcomment %}

          <form class="chat-input" id="chat-form">
            {%csrf_token%}
            <textarea type="text" id="chat-message-input" name="message" cols="30" rows="10"
              placeholder="메세지를 입력해주세요"></textarea>
            <div><button id="chat-message-submit" type="button">전송</button></div>
          </form>

          {% elif room_number == 0 %}
          {% comment %} <div class="awesome_logo">
            <img src="{% static 'hanwooplz_logo' %}">
          </div> {% endcomment %}
          {% endif %}
        </div>

      </div>
    </section>
  {% comment %} {% include 'footer.html' %} {% endcomment %}
  {% comment %} {% include 'chatbot.html' %} {% endcomment %}

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
<script>
  const chatLog = document.querySelector('#chat-log');
  let room_number = parseInt("{{ room_number }}");
  let change_room_number = parseInt("{{ room_number }}");
  if (change_room_number == -1) {
    change_room_number = 0;
  }

  const ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + change_room_number + '/');

  '''각 채팅 메세지에 고유한 id를 부여하기 위함'''
  function generateMessageId() {
    return uuid.v4();
  }

  document.addEventListener("DOMContentLoaded", function () {
    const messageInputDom = document.querySelector('#chat-message-input');
    const chatMessageSubmitBtn = document.querySelector('#chat-message-submit');
    const username = "{{ user.username }}";

    function getCurrentTime() {
      const now = new Date();
      const hours = now.getHours();
      const minutes = now.getMinutes();

      const amOrPm = hours >= 12 ? 'PM' : 'AM';
      const formattedHours = hours % 12 || 12;
      const formattedMinutes = minutes < 10 ? `0${minutes}` : minutes;

      const currentTime = `오늘 ${amOrPm} ${formattedHours}:${formattedMinutes}`;

      return currentTime;
    }

    const currentTime = getCurrentTime();

    function showNewMessagePopup(messageContent) {
      const toastPopup = document.querySelector('.toast');
      toastPopup.style.display = 'flex';
      let message = document.querySelector('.toast-message');
      message.textContent = messageContent;

      setTimeout(function () {
        toastPopup.style.display = 'none';
      }, 2500);
    } 

    ws.onmessage = function (e) {
      const data = JSON.parse(e.data);

      if (data.type === 'chat_message') {

        const messageContainer = document.createElement('div');

        const currentUser = data.username;
        const messageId = data.message_id;

        if (currentUser === username) {
          messageContainer.className = 'message-box from-me';
          messageContainer.innerHTML = `
            <p class="s-text unread-message">읽지 않음</p>
            <p class="s-text">${data.created_at}</p>
            <div class="message-text">${data.message}</div>
          `;
        } else {
          messageContainer.className = 'message-box from-you';
          messageContainer.innerHTML = `
            <div class="message-text">${data.message}</div>
            <p class="s-text">${data.created_at}</p>
          `;

          const messageText = data.message.length > 10 ? data.message.slice(0, 10) + '...' : data.message;

          if (!isScrolledToBottom()) {
            showNewMessagePopup(messageText);
          }
        }
        chatLog.appendChild(messageContainer);

        if (currentUser == username) {
          scrollToBottom();
        }

        if (isScrolledToBottom()) {
          scrollToBottom();
        }
      };

      if (data.type === 'chat_message_read') {
        let unreadMessages = document.querySelectorAll('.unread-message');
        unreadMessages.forEach(message => {
          message.textContent = '읽음';
        });
      }
    }

    function scrollToBottom() {
      chatLog.scrollTop = chatLog.scrollHeight;
    }

    if (room_number > 0 || room_number == -1) {
      chatMessageSubmitBtn.addEventListener('click', function () {
        const message = messageInputDom.value;

        if (message.trim() !== '') { // 빈 메시지는 추가하지 않음

          let uuid = generateMessageId();
          if (room_number > 0) {
            ws.send(JSON.stringify({
              'type': 'chat_message',
              'message': message,
              'username': username,
              'receiver': "{{ reciever.username }}",
              'room_number': room_number,
              'created_at': currentTime,
              'chat_uuid': uuid
            }));
          } else if (room_number == -1) {
            const messageContainer = document.createElement('div');
            messageContainer.className = 'message-box from-me';
            messageContainer.innerHTML = `
              <p class="s-text">${currentTime}</p>
              <div class="message-text">${message}</div>
            `;
            chatLog.appendChild(messageContainer);



            chatLog.appendChild(second);
            scrollToBottom();
          }

          messageInputDom.value = '';

        };
      });

      document.querySelector('#chat-message-input').addEventListener('keydown', function (e) {
        if (e.keyCode === 13) {  // enter, return
          e.preventDefault(); // 폼 제출을 막음
          document.querySelector('#chat-message-submit').click();
        }
      });

    }
  });

  function redirectToChat(chatRoomId, senderId) {
    const chatBoxes = document.querySelectorAll('.chat-box');
    chatBoxes.forEach(chatBox => {
      chatBox.classList.remove('selected-chat');
    });

    const selectedChat = document.querySelector(`[data-chat-room-id="${chatRoomId}"]`);
    if (selectedChat) {
      selectedChat.classList.add('selected-chat');
    }

    window.location.href = `/chat/${chatRoomId}/${senderId}`;
  }

  '''채팅 로그가 맨 아래로 스크롤되었는지 확인하기 위한 함수입니다.'''
  function isScrolledToBottom() {
    const scrollThreshold = 54;
    return chatLog.scrollHeight - chatLog.scrollTop <= chatLog.clientHeight + scrollThreshold;
  }

  '''사용자가 페이지에 포커스를 주었을 때, 읽지 않은 메시지를 읽음으로 표시하기 위한 로직을 포함합니다.'''
  window.addEventListener('focus', function () {
    if (isScrolledToBottom(chatLog)) {
      const room_number = parseInt("{{ room_number }}");

      if (room_number > 0) {
        ws.send(JSON.stringify({
          'type': 'chat_message_read',
          'receiver': "{{ request.user.username }}",
          'room_number': room_number,
          'chat_uuid': generateMessageId(),
          'is_read': true
        }));
      }
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener('load', function () {
      const currentUrl = window.location.href;
      const match = currentUrl.match(/chat\/(\d+)/);
      let chatRoomId = 0;

      if (match) {
        chatRoomId = match[1];
      }

      const selectedChat = document.querySelector(`[data-chat-room-id="${chatRoomId}"]`);
      if (selectedChat) {
        selectedChat.classList.add('selected-chat');
      }

      const firstUnreadIndex = "{{ first_unread_index }}";

      if (firstUnreadIndex > 0) {
        const unreadChat = chatLog.querySelectorAll('.unread')[0];
        if (unreadChat) {
          unreadChat.scrollIntoView({ behavior: "smooth", block: "center" });
        } else {
          chatLog.scrollTop = chatLog.scrollHeight;
        }
      } else {
        if (chatLog) {
          chatLog.scrollTop = chatLog.scrollHeight;
        }
      }
    });

    const chatListItems = document.querySelectorAll('.chat-box');

    chatListItems.forEach(item => {
      const textElement = item.querySelector('.chat-thumb-text');
      const maxTextLength = 15;

      if (textElement.textContent.length > maxTextLength) {
        const truncatedText = textElement.textContent.slice(0, maxTextLength) + '...';
        textElement.textContent = truncatedText;
      }
    });

  });

  document.addEventListener("DOMContentLoaded", function () {
    const messageInput = document.querySelector('#chat-message-input');
    const chatMessageSubmitBtn = document.querySelector('#chat-message-submit');

    messageInput.addEventListener('input', function () {
      if (messageInput.value.trim() !== '') {
        chatMessageSubmitBtn.style.backgroundColor = '#B22222';
        chatMessageSubmitBtn.style.color = '#fff';
      } else {
        chatMessageSubmitBtn.style.backgroundColor = '#E1E1E1';
        chatMessageSubmitBtn.style.color = '#000';
      }
    });
  });
</script>

</html>