{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
<div class="comment-container">
  {% csrf_token %}
  <div class="comment-list">
  </div>
  {% if user.is_authenticated %}
  <form action="" method="post">
    <textarea name="comment" id="comment-input" cols="30" rows="3"></textarea>
    <div id="comment-submit-button-wrapper">
      <button type="button" id="comment-submit-button">댓글 등록</button>
    </div>
  </form>
  {% endif %}
</div>
<script>var currentUser = "{{ user.username }}"</script>