{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
    <title>Edit Profile</title>
</head>

<body>
    <div class="main-container">
        <div class="profile-container">
            <h1>Edit Profile</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ password_change_form.as_p }}
                <input type="submit" value="Update Profile">
            </form>
        </div>
    </div>
</body>

</html>
