{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/link.css' %}" />
<footer class="footer">
    <h1 class="footer_logo">Hanwooplz</h1>
    <div class="social-menu">
        <ul>
            <li><a href="https://github.com/byunduhyeon/" target="blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/jace__ddu/" target="blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/in/jace-king-0284b9290/" target="blank"><i
                        class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://twitter.com/jace_king65801" target="blank"><i class="fab fa-twitter"></i></a>
            </li>
        </ul>
    </div>
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</footer>