{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <title>저기압일땐 고기앞으로</title>
</head>

<body>
    {% include 'nav.html' %}
    <section>
        <div id="section" class="section">
            <topMenu>
                <div class="section_top_tag">
                    <button id="slide-left" type="button">
                        << /button>
                            <div class="tag_button" id="tag_button"></div>
                            <button id="slide-right" type="button">></button>
                </div>
            </topMenu>

            <div id="mainContainer">
                <div id="videoList">
                    <div class="thumbnail">
                        <a href="#">
                            <img src="https://t2.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/ono/image/WjJoqOJ_qXTUP6CFyrJq7zWv2r4.jpg"
                                style="width: 320px; cursor: pointer; border-radius:5px;" />
                        </a>
                        <div class="thumnail_card" style="display:flex;">
                            <div class="thumnail_profile">
                                <a href="#">
                                    <img src="https://cdn.huffingtonpost.kr/news/photo/202102/106356_200066.jpeg"
                                        style="width: 38px; cursor: pointer; border-radius:5px;" />
                            </div>
                            <div style="margin-left: 20px; margin-bottom: 20px;">
                                <a href="#">
                                    <div style="color:#fff;font-size:16px;">portfolio_title</div>
                                </a>
                                <a href="#">
                                    <div style="color:#aaa;">account_info</div>
                                </a>
                                <span style="color:#aaa;">followers</span>
                                <span style="color:#aaa;">upload_date</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</body>

</html>