main.html

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <style>
        .wavy {
            cursor: pointer;
        }
    </style>
    <title>저기압일땐 고기앞으로</title>
</head>

<body>
    <div class="wavy" onclick="window.location.href = 'index';">
        <span style="--i:1">저</span>
        <span style="--i:2">기</span>
        <span style="--i:3">압</span>
        <span style="--i:4">일</span>
        <span style="--i:5">땐</span>
        <span style="--i:6">고</span>
        <span style="--i:7">기</span>
        <span style="--i:8">앞</span>
        <span style="--i:9">으</span>
        <span style="--i:10">로</span>
    </div>
</body>

</html>