{% load static %}
<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <h2 class="logo" id="logo">Hanwooplz</h2>
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li class="icon-item">
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </li>
            <li>
                <a href="#">
                    <i id="microphone" class="fas fa-microphone"></i>
                </a>
            </li>
            <li><a href="#">홈</a></li>
            <li><a href="#">회원정보</a></li>
            <li><a href="#">포트폴리오</a></li>
            <li><a href="#">팀원모집</a></li>
            <li><a href="#">채팅</a></li>
            <li><a href="#">질의응답</a></li>
            <li class="icon-item"><a href="#"><i class="fas fa-bell"></i></a></li>
            <li class="icon-item"><a href="#"><i class="fas fa-user"></i></a></li>
            <li class="icon-item"><a href="#"><i class="fas fa-cog"></i></a></li>
            <li class="icon-item"><a href="#"><i class="fas fa-sign-in-alt"></i></a></li>
            <li class="icon-item"><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
</nav>