{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>팀원모집</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}" />
</head>

<body>
    {% include 'nav.html' %}
    <div class="wrap col-9">
        <div class="menu col-9">
            <header>
                <h1>팀원모집</h1>
            </header>
            <div class="wrap">
                <div class="tile">
                    <!-- 예제 -->
                    <img src='https://www.sanoee.co.kr/shopimages/isanoee/0460010000993.jpg?1626754270' />
                    <div class="text">
                        <h1>한우</h1>
                        <h2 class="animate-text">++등급</h2>
                        <p class="animate-text">살치살 부채살 안심 꽃등심 안창살 갈비살 채끝살</p>
                    </div>
                </div>
                <!-- 예제 -->
                {% for post in posts %}
                <div class="tile">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                    <div class="text">
                        <h1>{{ post.title }}</h1>
                        <p>모집 상태: [모집 중/모집 완료]</p>
                        <p>진행 기간: {{ post.start_date|date:"Y년 m월 d일" }} ~ {{ post.end_date|date:"Y년 m월 d일" }}</p>
                        <p>참여 팀원: {{ post.members }} 명</p>
                        <p>사용한 기술 스택: {{ post.tech_stack }}</p>
                        <p>외부 링크: <a href="{{ post.ext_link }}" target="_blank">{{ post.ext_link }}</a></p>
                        <p class="animate-text">{{ post.content }}</p>
                        <p>모집된 인원: [모집 인원] / [모집 인원]</p>
                        <button class="recruitment-button">모집 지원 신청</button>
                        <div class="author-info">
                            <p>작성자: {{ post.author }}</p>
                            <button class="chat-button">채팅 보내기</button>
                        </div>
                        <div class="comments">
                            <h2>댓글</h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    {% include 'chatbot.html' %}
</body>