{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
    
    <title>게시글</title>
</head>
<body>
    {% include 'nav.html' %}
    {% comment %} 본문 {% endcomment %}
    <div class="container">
        <div class="box-divider">
            <div class="big-box ">
                <div class="post-info">
                    <h1 id='h1title'>제목</h1>
                    <h4>게시자</h4>
                    <h5>게시 시간</h5>
                    <h5 class="topic-box">태그</h5>
                </div>
                <div class="post-content">
                    게시글이 올라올 부분
                </div>
            </div>
    </div>
    <div class="button-box">
        <div class="box-divider" style="gap: 10px">
            {% comment %} 수정버튼 {% endcomment %}
            <a href="">
                <button class="edit-button">수정하기</button>
            </a>
            {% comment %} 삭제버튼 {% endcomment %}
            <button class="delete-button">삭제하기</button>
        </div>
        <button class='share-button' onclick='copyUrl()'>공유하기</button>
    </div>
    <div class="comments-section">
        <h3>댓글</h3>
        <div class="comment-form">
            <form>
                <label for="comment-content"></label>
                <textarea id="comment-content" name="comment-content" rows="4" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="comment">
            <p><strong>홍길동:</strong> 댓글 예제</p>
        </div>
    </div>
  
    
</body>
</html>