{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/project.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    {% include "nav.html" %}
    <div class="main-container">
        <main>
            <div class="post-container">
                <picture style="width: 100%;">
                    {% if project_status != 1 %}
                    <p id="deprecated">{% if project_status == 2 %}모집 완료{% else %}모집 중단{% endif %}</p>
                    {% endif %}
                    <img src="{% static 'img/'|add:tech_stacks.0|add:'.svg' %}" alt="썸네일" style="height: 100%; width: 100%; object-fit: cover;">
                </picture>
                <h3 class="title">{{ title }}</h3>
                <div class="period">프로젝트 기간: {{ start_date }}~{{ end_date }}</div>
                <div class="members">현재 참여인원: {{ members }} 명 / {{ target_members }} 명</div>
                <div class="tech-stack-conatiner">
                    {% for tech_stack in tech_stacks %}
                        <div class="tech-stack">#{{ tech_stack }} </div>
                    {% endfor %}
                </div>
                <div class="ext_link">외부 링크: <a href="{{ ext_link }}">{{ ext_link }}</a></div>
                <div class="content">{{ content }}</div>
                {% if author_id == request.user.id %}
                <form id="status-form" method="POST">
                    {% csrf_token %}
                    <select name="status" id="status-select">
                        <option value="1">모집중</option>
                        <option value="2">모집완료</option>
                        <option value="0">모집중단</option>
                    </select>
                </form>
                {% elif author_id != request.user.id and project_status == 1 %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
                    <button id="joinProjectButton" data-recipient-id="{{ author_id }}" data-post-id="{{ post_id }}">참가신청</button>
                {% endif %}

                <div class="subsidiary">
                    <div class="card">
                        작성자: <a href="{% url 'hanwooplz_app:myinfo' author_id %}"><strong>{{ author }}</strong> 님</a>
                        {% if user.is_authenticated and author_id != request.user.id %}
                        <button onclick="window.location.href = '{% url "hanwooplz_app:chat" 0 author_id %}'" style="display: block; margin: 0 auto; background-color: #0077b5; color: #fff; border: none; padding: 6px 12px; border-radius: 4px; font-size: 14px; cursor: pointer; transition: background-color 0.3s;">
                            채팅하기
                        </button>
                        {% elif not user.is_authenticated %}
                        <button onclick="alert('로그인이 필요합니다.')" style="display: block; margin: 0 auto; background-color: #0077b5; color: #fff; border: none; padding: 6px 12px; border-radius: 4px; font-size: 14px; cursor: pointer; transition: background-color 0.3s;">
                            채팅하기
                        </button>
                        {% endif %}
                        <p>작성 일시: {{ created_at }}</p>
                    </div>
                </div>
                <div class="action-buttons">
                    <a href="">댓글</a>
                </div>
            </div>
            <div class="button_list_edit">
                <button class="button-black" onclick="window.location.href = '{% url 'hanwooplz_app:project_list' %}'">목록으로</button>
                {% if author_id == request.user.id %}
                <button class="button-black" onclick="window.location.href = '{% url "hanwooplz_app:write_project" post_project_id %}'">수정하기</button>
                {% endif %}
            </div>
            {% include "comment.html" %}
        </main>

    </div>
    {% include 'footer.html' %}
    {% include 'chatbot.html' %}
    
</body>
<script>
    var postId = "{{ post_id }}"
    var currentUser = "{{ request.user }}"
    var projectStatus = "{{ project_status }}"
    var projectId = "{{ post_project_id }}"
</script>
<script src="{% static 'js/comments.js' %}"></script>
<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // 이름으로 시작하는 쿠키가 있는지 확인
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var joinButton = document.getElementById('joinProjectButton');

    if (joinButton) {
        joinButton.addEventListener('click', function () {
            var recipientId = joinButton.getAttribute('data-recipient-id');
            var postId = joinButton.getAttribute('data-post-id');
            sendNotification(recipientId, postId);
        });
    }
    

    async function sendNotification(recipientId, postId) {
        const csrftoken = getCookie('csrftoken');
        const response = await fetch('/send_application/', {
            method: 'POST',
            body: JSON.stringify({ recipient_id: recipientId, post_id: postId }),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        });
        const data = await response.json();
        if (data.success) {
            // 알림이 성공적으로 전송되었을 때 수행할 동작을 추가하세요.
            alert('알림이 성공적으로 전송되었습니다.');
        } else {
            alert('알림 전송 중 오류가 발생했습니다.');
        }
    }
</script>
<script src="{% static "js/updateStatus.js" %}"></script>
</html>