{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts_list.css' %}" />
    
    <title>프로젝트 팀원 모집</title>
</head>

<body>
    {% include 'nav.html' %}
    <article style="padding: 100px;">
        <div class="posts-list">
            <h2>프로젝트 팀원 모집</h2>
            {% comment %} <div class="aside"></div> {% endcomment %}
            <div class="select-group">
                <form method="GET" action="" id="search-form">
                    <span class="select-text">SELECT</span>
                    <span>
                        <select class="select-dropbox" id="search-select" name="search_type">
                            <option value="title_content">제목+내용</option>
                            <option value="writer">작성자</option>
                        </select>
                    </span>
                    <input type="text" name="search" class="select-textbox">
                    <input type="submit" class="button-black" value="검색" />
                </form>
            </div>
            {% if project_lists %}
            <table class="board-table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성 일시</th>
                    </tr>
                </thead>

                <tbody>
                    {% for post in project_lists %}
                    <tr>
                        <td>{{ post.post_project }}</td>
                        <td>
                            <a href="{% url 'hanwooplz_app:project' post.post_project %}">
                                {{ post.title }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'hanwooplz_app:myinfo' post.author_id %}">
                                {{ post.author }}
                            </a>
                        </td>
                        <td>{{ post.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="page">
                <span><a href="#!">◀ 이전</a></span>
                <span><a href="#!">1</a></span>
                <span><a href="#!">다음 ▶</a></span>
            </div>
            {% else %}
            <div class="no-results">검색 결과가 없습니다.</div>
            {% endif %}
            <div class="button">
                <button class="button-gray" onclick="window.location.href = '{% url "hanwooplz_app:project_list" %}'" style="cursor: pointer; transition: background-color 0.3s;">
                    목록
                </button>
                {% if user.is_authenticated %}
                <button class="button-black" onclick="window.location.href = '{% url "hanwooplz_app:write_question" %}'" style="cursor: pointer; transition: background-color 0.3s;">
                    글쓰기
                </button>
                {% else %}
                <button class="button-black" onclick="alert('로그인이 필요합니다.')" style="cursor: pointer; transition: background-color 0.3s;">
                    글쓰기
                </button>
                {% endif %}
            </div>
        </div>
    </article>
    {% include 'footer.html' %}
    {% include 'chatbot.html' %}
</body>
<script>
    document.getElementById('search-select').addEventListener('change', function() {
        var selectedOption = this.value;
        var currentURL = window.location.href;
        var newURL;
        if (currentURL.includes('?')) {
            var searchParams = new URLSearchParams(currentURL.split('?')[1]);
            searchParams.set('search_type', selectedOption);
            newURL = window.location.pathname + '?' + searchParams.toString();
        } else {
            newURL = window.location.pathname + '?search_type=' + selectedOption;
        }
        document.getElementById('search-form').action = newURL;
    });
    document.addEventListener("DOMContentLoaded", function() {
        var searchType = new URLSearchParams(window.location.search).get('search_type');
        var titleElement = document.querySelector('.posts-list h2');
        if (searchType === 'title_content') {
            titleElement.textContent = '프로젝트 팀원 모집: 제목+내용 검색결과';
        } else if (searchType === 'writer') {
            titleElement.textContent = '프로젝트 팀원 모집: 작성자 검색결과';
        }
    });
</script>
</html>
