{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <title>{{ title }}</title>
</head>

<body>
    {% include "nav.html" %}
    <div class="main-container">
        <main>
            <div class="question-container">
                <h3 class="title">{{ title }}</h3>
                <div class="keyword-conatiner">
                    {% for keyword in keywords %}
                    <div class="keyword">#{{ keyword }} </div>
                    {% endfor %}
                </div>
                <div class="content">{{ content | safe }}</div>
                <div class="subsidiary">
                    <div class="card">
                        작성자: <a href="{% url 'hanwooplz_app:myinfo' author_id %}"><strong>{{ author }}</strong> 님</a>
                        {% if user.is_authenticated and author_id != request.user.id %}
                        <button onclick="window.location.href = '{% url "hanwooplz_app:chat" 0 author_id %}'" style="display: block; margin: 0 auto; background-color: #0077b5; color: #fff; border: none; padding: 6px 12px; border-radius: 4px; font-size: 14px; cursor: pointer; transition: background-color 0.3s;">
                            채팅하기
                        </button>
                        {% elif not user.is_authenticated %}
                        <button onclick="alert('로그인이 필요합니다.')" style="display: block; margin: 0 auto; background-color: #0077b5; color: #fff; border: none; padding: 6px 12px; border-radius: 4px; font-size: 14px; cursor: pointer; transition: background-color 0.3s;">
                            채팅하기
                        </button>
                        {% endif %}
                        <p>작성 일시: {{ created_at }}</p>
                    </div>
                </div>
                <div class="action-buttons">
                    <a href="{% url "hanwooplz_app:question_like" post_question_id %}">추천 {{ like }} 회</a>
                </div>
            </div>
            <div class="button_list_edit">
                {% if author_id == request.user.id %}
                <button class="button-black" onclick="window.location.href = '{% url "hanwooplz_app:write_question" post_question_id %}'">수정하기</button>
                {% endif %}
                {% if user.is_authenticated and not answered %}
                <button class="button-black" onclick="window.location.href = '{% url "hanwooplz_app:write_answer" post_question_id %}'">답변하기</button>
                {% endif %}
                <button class="button-black" onclick="window.location.href = '{% url 'hanwooplz_app:question_list' %}'">목록으로</button>
            </div>
            {% include "comment.html" %}
            <div class="answer-container-wrapper">
                {% for answer in answers %}
                <div class="answer-container">
                    <div class="content">{{ answer.content | safe }}</div>
                    <div class="subsidiary">
                        <div class="card">
                            작성자: <a href="{% url 'hanwooplz_app:myinfo' answer.author_id %}"><strong>{{ answer.username }}</strong> 님</a>
                            {% if user.is_authenticated and answer.author_id != request.user.id %}
                            <button onclick="window.location.href = '{% url "hanwooplz_app:chat" 0 answer.author_id %}'" style="display: block; margin: 0 auto; background-color: #0077b5; color: #fff; border: none; padding: 6px 12px; border-radius: 4px; font-size: 14px; cursor: pointer; transition: background-color 0.3s;">
                                채팅하기
                            </button>
                            {% elif not user.is_authenticated %}
                            <button onclick="alert('로그인이 필요합니다.')" style="display: block; margin: 0 auto; background-color: #0077b5; color: #fff; border: none; padding: 6px 12px; border-radius: 4px; font-size: 14px; cursor: pointer; transition: background-color 0.3s;">
                                채팅하기
                            </button>
                            {% endif %}
                            <p>작성 일시: {{ answer.created_at }}</p>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <a href="{% url "hanwooplz_app:question_like" post_question_id answer.id %}">추천 {{ answer.likes }} 회</a>
                    </div>
                </div>
                <div class="button_list_edit">
                    {% if answer.author_id == request.user.id %}
                    <button class="button-black" onclick="window.location.href = '{% url "hanwooplz_app:write_answer" post_question_id answer.id %}'">수정하기</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </main>

    </div>
    {% include 'footer.html' %}
    {% include 'chatbot.html' %}

</body>
<script>
    var postId = "{{ post_id }}"
    var currentUser = "{{ request.user }}"
    var answerPostIdList = "{{ answer_post_id_list }}"
</script>
<script src="{% static 'js/comments.js' %}"></script>

</html>