{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/question_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}">
    <title>Question List</title>
</head>

<body>
    {% include "nav.html" %}
    <div class="main-container">
        <div class="question-list">
            <table>
                {% for post,post_question,user in question_list %}
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성일자</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{ post_question.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ post.created_at }}</td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    {% include 'footer.html' %}
    {% include 'chatbot.html' %}
</body>

</html>